# Rename this file to .env and replace the placeholder environment variables

DB_USER = 'user'
DB_PASSWORD = 'Compl3xAndSecretPa$sword'
DB_HOST = 'localhost'
DB_CONNECTION_LIMIT = 10
DB_QUEUE_LIMIT = 10

SECRET = 'UmVtZW1iZXIgdG8gbmV2ZXIgbWFrZSB5b3VyIHNlY3JldCBwdWJsaWMh'